#slider {
  background: url("../assets/images/contact.png") center center / cover
    no-repeat;
  height: 460px;
}

#slider h3 {
  text-align: left;
}
#slider a {
  text-align: center;
  font-weight: 600;
  color: var(--primary-color);
}
#slider i {
  padding-right: 20px;
}

#content {
  margin-bottom: 0;
  margin-top: 0;
}
.div3 {
  text-align: center;
}
.div3 h3 {
  font-weight: 600;
  color: var(--primary-color);
}

#content h3 {
  text-transform: none !important;
}
.dark {
  padding-top: 50%;
}
#content iframe {
  border: 2px var(--primary-color) solid;
}

.promo {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.promo .content {
  padding: 20px 20px 20px 20px;
  width: 100%;
  height: 160px;
  background-color: var(--hero-bg);
  text-align: center;
  justify-items: center;
  font-weight: 600;
}
.promo .content h6 {
  text-transform: uppercase;
  color: black;
}
.promo .content h2 span {
  color: var(--primary-color);
}

@media only screen and (max-width: 576px) {
  #slider {
    padding: 20px 10px;
    height: 230px;
    background: none;
  }

  .text_contact {
    font-size: 1.1rem;
  }
  .slider-title h2 {
    font-size: 1.8rem;
  }

  #content,
  .promo {
    padding: 0px 10px;
  }
  .promo h6 {
    font-size: 0.9rem;
  }
  .promo h2 {
    font-size: 1.7rem;
  }

  .promo .content .uppercase {
    font-size: 0.8rem;
  }

  .promo .content h2 {
    font-size: 1.2rem;
    margin-bottom: 0px;
  }
  .promo .content .buy__btn {
    padding: 0px 0px;
  }
}

/* ====================== Responsive Styling ==================================== */
