/* ~~~~~~~~~~~~~~~~ Youtube Mobile Content ~~~~~~~~~~~~~~~~~ */
.m-content-video {
  display: none;
  margin-top: 0;
  padding-top: 0;
}

/* ~~~~~~~~~~~~~~~~ Review Mobile Content ~~~~~~~~~~~~~~~~~ */
.m-content-review {
  display: none;
  margin-top: 0;
  padding-top: 0;
}

.product__details {
  margin-top: 50px;
}
.product__details h2 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.product__details p {
  text-align: justify;
}

.product__rating {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 0.4rem;
}

.product__rating span i {
  color: orange;
  font-size: 2.2rem;
}
.product__rating p span {
  margin-left: 10px;
  margin-top: 10px;
  color: orange;
  font-size: 2.2rem;
  font-weight: 500;
}
.product__price {
  font-size: 1.3rem;
  font-weight: 500;
}

.prod .product__img {
  object-fit: contain;
  padding: 0;
  margin-top: 60px;
  width: 90%;
}

.tab__wrapper {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}

.tab__wrapper h6 {
  font-size: 1.2rem;
}
.active__tab {
  font-weight: 600;
  border-bottom: 2px solid var(--primary-color);
}

.tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.relatedProducts {
  margin-top: 30px;
}

.review__wrapper ul li span {
  color: orange;
  font-weight: 600;
}
.review__wrapper ul li p {
  margin-top: 10px;
}

.related__title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 30px;
}

.dark-btn {
  padding: 10px 25px;
  border: unset;
  border-radius: 12px;
  color: #fff;
  z-index: 1;
  /* background: #2b2c33; */
  background: var(--primary-color);
  position: relative;
  font-weight: 600;
  font-size: 22px;
  -webkit-box-shadow: 4px 8px 19px -3px rgb(0 0 0 / 27%);
  box-shadow: 4px 8px 19px -3px rgb(0 0 0 / 27%);
  transition: all 700ms;
  overflow: hidden;
  margin: 2em auto;
  display: block;
  text-align: center;
}

.dark-btn:hover {
  background: #f3f3f3;
  color: #4f4f4f;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.review__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.review__wrapper img {
  height: 300px;
  width: 270px;
}

.review__wrapper .content h2 {
  font-size: 3rem;
  padding: 0;
  margin: 0;
  color: var(--primary-color);
}
.review__wrapper .content h5 {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 1.6rem;
}

.review__btn {
  border: none;
  outline: none;
  padding: 8px 20px;
  border-radius: 5px;
  background: var(--primary-color);
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
}
.review__btn a:hover {
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .product__details h2 {
    font-size: 1.3rem;
  }
}

/* ~~~~~~~~~~~ Phone Styling ~~~~~~~~~~~~~~~ */
@media only screen and (max-width: 576px) {
  .tabs {
    display: none;
  }

  .relatedProducts {
    margin-top: 0;
  }

  section {
    padding-top: 0;
    padding-bottom: 0;
  }

  .dark-btn {
    font-size: 18px;
    font-weight: 500;
  }

  .m-content-video,
  .m-content-review {
    display: block;
  }

  .review__wrapper {
    overflow: hidden;
  }

  .review__wrapper img {
    height: 180px;
    width: 220px;
  }

  .review__wrapper .content h2 {
    font-size: 1.6rem;
  }
  .review__wrapper .content h5 {
    margin-left: 0;
    font-size: 1.2rem;
  }

  .product__rating {
    gap: 0.5rem;
  }

  .product__rating span i {
    font-size: 1.6rem;
  }
  .product__rating p span {
    margin-left: 0px;
    font-size: 1.6rem;
  }
  .review__btn {
    padding: 8px 10px;
    font-size: 0.8rem;
  }

}
