.sections {
	background: none !important;
	padding-left: 40px;
	padding-right: 40px;
}
.sections h3{
	font-weight: 600;
	color: black;
	font-size: 1.1rem;
	text-align: left;
	line-height: 20px;
}
.sections span {
	color: var(--primary-color);
	font-weight: 600;
	padding-left: 5px;
}
.div2{
	border-bottom: none !important;
	text-align: center !important;
	position: relative !important;
	float: none !important;
	margin-left: auto !important;
	margin-right: auto !important;
	max-width: 550px;
}
.div2 h3{
	text-align: center;
}

.center {
	text-align: center;
}

@media only screen and (max-width:576px) {
	.sections {
		background: none !important;
		padding-left: 20px;
		padding-right: 20px;
	}

	.sections h3{
		line-height: 25px;
	}

	.sections p{
		justify-content:space-evenly;
		align-items: center;
	}
	.sections .buy__btn {
		padding: 0px 0px;
	}
 }